body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    left : 0;
    top : 0;
    position: relative;    
    margin : 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 5010;
    
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 127, 200);
    
}
.navbar li{
    margin-right: 80px;
    float: left;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}
#add-expense-button{
    position: absolute;
    right: 10px;
    top: 2px;
    padding: 13px 18px;
    bottom : 2px;
}
.profiles{
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #d7ebf8;
    position: absolute;
    padding-top: 50px;
    border: #c3c3c3 2px solid;
    z-index: 5000;
}
main{
    margin-left: 200px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    align-items: center;
    
}
#add-profile-button{
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.abovetable{
    margin-right : auto;
    display: flex;
    justify-content: space-between;
}
.container{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    border: 1px solid #ccc;
}
table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    
}
.w10{
    width: 8%;
}
.w8{
    width: 6%;
}
.w15{
    width: 10%;
}
.w3{
    width: 3%;
}
.w6{
    width: 6%;
}
thead{
    background-color: #63afed; 
    color: white; 
}
th {
  position: sticky;
  top: 0;
  background-color: #63afed;
  z-index: 1;              
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); 
}
th, td {
    border-right: 1px solid white;
    padding: 8px 15px;
    font-size: 18px;
}
th:last-child, td:last-child {
    border-right: none;
}
th Discription{
    width: 44%;
}
table tbody tr {
    border-radius: 8px;
    background-color: #f2f5f9; 
    transition: background-color 0.2s ease; 
}
table tbody tr:nth-child(even) {
    background-color: #d6e5f6; 
}
table tbody tr:hover {
    background-color: #d1e7dd;
    cursor: pointer;
}
.popup-container{
    width: 100%;
    height: 100%;
    position: absolute  ;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    background: rgba(0,0,0,0.5);
}
.popup-window{
    position: relative;
    border-radius: 10px;
    height: 260px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border : 2px solid #0d0d0d;
    background-color: azure;
    align-items: center;
    text-align: center;
}
.addprofilepopupcontainer{
    width: 100%;
    height: 100%;
    position: absolute  ;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9997;
    background: rgba(0,0,0,0.5);
}
.addprofilepopup{
    position: relative;
    border-radius: 10px;
    height: 260px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border : 2px solid #0d0d0d;
    background-color: azure;
    align-items: center;
    text-align: center;
}
.delete-popup-container{
    width: 100%;
    height: 100%;
    position: absolute  ;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9997;
    background: rgba(0,0,0,0.5);
}
.delete-popup{
    position: relative;
    border-radius: 10px;
    height: 260px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border : 2px solid #0d0d0d;
    background-color: azure;
    align-items: center;
    text-align: center;
}
.profile-item{
    
    padding: 12px;
    border-bottom: 1px solid #bbb;
    font-size: 20px;
    font-style: bold;
    
}
.warning-icon{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.trash-icon{
    width: 20px;
    height: 20px;
}
.edit-icon{
    width: 20px;
    height: 20px;
}
.export-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#export-profile-button{
    border :none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    margin-right: 30px;
    right : 0;
}
.home, .profilemaneg, .analyze {
    display: flex;
    align-items: center;
    gap: 8px;
}
#profilename{
    width: 70%;
    height: 30px;
}
#sheets-buttons-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #D1E7DD;
    padding: 5px;
    border: 1px;
    border-style: solid;
}


