.container{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    border: 0px solid #ccc;
}
table{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    
}
thead{
    background-color: #63afed; 
    color: white; 
}
th {
  position: sticky;
  top: 0;
  background-color: #63afed;
  z-index: 1;              
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); 
}
th, td {
    border-right: 1px solid white;
    padding: 8px 15px;
    font-size: 18px;
}
th:last-child, td:last-child {
    border-right: none;
}
table tbody tr {
    border-radius: 8px;
    background-color: #f2f5f9; 
    transition: background-color 0.2s ease; 
}
table tbody tr:nth-child(even) {
    background-color: #d6e5f6; 
}
table tbody tr:hover {
    background-color: #d1e7dd;
    cursor: pointer;
}
.delete-profile-popup-container{
    width: 100%;
    height: 100%;
    position: absolute  ;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9997;
    background: rgba(0,0,0,0.5);
}
.delete-profile-popup{
    position: relative;
    border-radius: 10px;
    height: 260px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border : 2px solid #0d0d0d;
    background-color: azure;
    align-items: center;
    text-align: center;
}
.warning-icon{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}